body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  color: #8f8f8f;
  font-size: 0.9rem;
  font-weight: 400;
}

.container-fluid {
  padding: 3% 15%;
}

.colored-section {
  background-color: #ace1af;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* navigation bar */
#navbarSupportedContent {
  position: relative;
  left: 17%;
}

.navbar-brand {

  font-family: "ubuntu";
  font-size: 2.5rem;
  padding-bottom: 4.5rem;
}

.nav-item {

  margin: 20px;
  font-size: 1.2rem;
  font-weight: 400;
}


/* title */
@media screen and (min-width:1272px) {
  .title-text-div {
    text-align: left;
  }
}

.topofnav {
  padding-top: 0;
}

.left-to-nav-brand {
  padding-left: 0;
}

.title-text-div {
  margin-bottom: 70px;

}

.tissuebox {
  width: 60%;
  border-radius:7px;
  margin: 2px 2px 5px 20px;
  position: absolute;
  right: 25%;
}
@media screen and (max-width: 1272px){
.tissuebox {
    position: static;
    width: 60%;
    margin: 40px;
    transform: rotate(0);
 }
 #title{
   text-align: center;
 }
}

/* about us */
#aboutus {
  position: relative;
  z-index: 1;
}

#aboutus .container-fluid {
  padding: 3% 5%;
}




/* products */
#products{
  background-color:#F2D2BD;
  margin-top: 5rem;
  padding-bottom: 4rem;
}
 h2{
  padding: 5rem 4rem;

}
/* testimonial */
#testimonials {

}

#testimonial .card{
  border:0px;
  margin: 5rem 5rem;
}
.carousel-item {
  padding: 4% 15%;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* contactus */
#contactus{
  padding-left: 4rem;
  background-color: #FAF9F6;
}

/* abovefooter */
#abovefooter{
  padding-top: 4rem;
  padding-left:2rem;
}

#abovefooter img{
  border-radius: 10px;
  height: 60%;
  width: 60%;
  padding: 2rem
}


/* footer */
#footer {
  padding: 6% 40% 8%;
}



/*                            #footer      .section2disc     #testimonials     #pricing #cta textaling from */
.footer-div {
  margin: 10px;
}

.footer-img {
  margin: 7px 7px;
}

.footer-disc {
  padding-top: 10px;
  margin-top: 5px;
}
